/* Background */
body {
    background-color: #f4f4f9;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

/* Font-family and font-size */
h1, h2 {
    font-family: 'brush script mt', sans-serif;
}

h1 {
    font-size: 48px; /* 2em converted to pixels assuming 16px base */
    font-weight: bold;
    color: #2c3e50;
}

h2 {
    font-size: 32px; /* 1.5em converted to pixels assuming 16px base */
    font-weight: normal;
    color: #2c3e50;
    background-color: rgba(77, 5, 35, 0.9);
    color: white;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px 0;
    border-radius: 10px;
}

p, li {
    font-size: 16px; /* 1em converted to pixels */
}

/* Color for links */
a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    color:goldenrod;
    text-decoration: underline;
}
a:visited{
   color: rgba(77, 5, 35, 0.8);
}

/* Font-style */
em {
    font-style: italic;
}

img {
    border: 5px solid rgba(77, 5, 35, 0.8);
    border-radius: 10px;
    margin: 10px 0;
}

ol, ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Additional styles for demonstration */
.homebackground {
    /* background-image: url("../images/teacup.jpg"); */
    background-size: 33%;
    background-attachment: fixed;
}

/* Text-align */
.justify {
    text-align: justify;
}

.whitebox {
    background-color: white;
    margin: 20px auto;
    border-width: 10px;
    border-color: rgba(77, 5, 35, 0.8);
    border-style: solid;
    padding: 20px;
    /* max-width: 800px; */
}


/* Navigation bar styles */
.navbar {
    background-color: rgba(77, 5, 35);
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: rgba(44, 3, 20, 0.7);
    border-radius: 5px;
}

#main-heading {
    text-align: center;
    color: rgba(77, 5, 35, 0.8);
    text-shadow: 2px 2px 4px #ccc;
}

#featured-image {
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 5px solid rgba(77, 5, 35;
}
